{% extends 'layout.html' %}

{% block contents %}
	<div class="welcomeNotes">
		<h1>Hello!! welcome to our website</h1>
	</div>

	<div class="Image1">
		<img src="../static/images/img1.png">
	</div>

	<div class="helpNote">
		<p>You can find the resources which you will need for your studies. This website is specially built for students of 8th to 12th Std.</p>
	</div>
	<!--<div>
		<img src="../static/images/img2.png">
	</div>
	-->
	

	<div class="faq">
		<div class="faqTitle">
			<h1> Some of the frequently Asked Questions</h1>
		</div>
		<div class="allQuestions">
		<ul>
			<li>
				<div class="Question1">
					<h2>What will you find here?</h2>
					<p>You will find links for Text-Books, Notes and also links for You-tube Videos.</p>
				</div>
			</li>

			<li>
				<div class="Question2">
					<h2>How can you find your resource?</h2>
					<p>You can click on Resource section and can go can go your respected class. There you will find link for textbook, notes and video resource.</p>
				</div>
			</li>
	</div>
		
	</div>
	 <div class="contact-form">
        <h3 class="section-title">Contact us</h3>
        <p>Email (Required)</p>
        <!-- Add an <input> tag -->
        <input>
        
        
        <p>Message (Required)</p>
        <!-- Add a <textarea> tag --> 
        <textarea></textarea>
        
        <p>* Required fields must be filled</p>
        <!-- Add an <input> tag -->
        <input class="contact-submit" type="submit" value="send">
        
      </div>
 {% endblock contents%}