<!DOCTYPE html>
<html>
<head>
<title>resources</title>
<style type="text/css">
Body{
color:black;
background-image:url(../static/images/sky.jpg);
height:100vh;
background-size:cover;
background-position:center;
}
h1{
font face:arial;
text-align:left;
color:red;
size:100;

}
h2{
font face:verdana;
color:black;
size:36;
}
h3{
font face:arial;
color:black;
size:30;
}
</style>
</head>

<body>
	<h1><strong><em><u> WELCOME TO RESOURCE PAGE</u></em></strong></h1>
	<h2><em><strong>"Learning is not the product of teaching,Learning is the product of the activities of learner"<strong></em></h2>
<p><h2><strong>Please select your class</strong></h2></p>
<ul>
	<li><a href="#8th ">8th std</a><br></li>
	<li><a href="#9th ">9th std</a><br></li>
	<li><a href="#10th">10th std</a><br></li>
</ul>
<p><h2><a id="8th"></a>8th std</h2></p>
	<strong>
		<a href="https://www.kseebsolutions.com/kseeb-solutions-for-class-8"><h2>click here for textbook solutions</h2></a>
		<a href="http://www.ktbs.kar.nic.in/New/index.html#!/textbook"><h2>click here for all textbooks</h2></a>
	<h2>click here for video links</h2>
<ul>
		<li><a href="https://youtu.be/NnDtySyxLus"><h2>  maths chapter1</h2></a></li>
		<li><a href="https://youtu.be/VskzIPGbsGQ"><h2> maths chapter2</h2></a></li>
		<li><a href="https://youtu.be/iKg0mjkEbRk"><h2> science microorganism chapter</h2></a></li>
		<li><a href="https://youtu.be/IoD5Ph0sY4A"><h2>science force and pressure</h2></a></em></li>
</ul>

<p><h3><a id="9th"></a>9th std</h3></p>
	<em>
		<a href="https://www.kseebsolutions.com/kseeb-solutions-class-9-maths"><h2>click here for textbook solutions</h2></a>
		<a href="http://www.ktbs.kar.nic.in/New/index.html#!/textbook"><h2>click here for all textbooks</h2></a>
<h2>click here for video links</h2>
<ul>
		<p><h1>Maths</h1></p>
		<li><a href="https://youtu.be/NnDtySyxLus"><h2>chapter1</h2></a></li>
		<li><a href="https://youtu.be/DkFk8zJN6yU"><h2> polynomial part-1</h2></a></li>
		<li><a href="https://youtu.be/CJtGZKkKRSo"><h2>Number System</h2></a></li>
		<li><a href="https://youtu.be/Gb3wklL9tw4"><h2>Polynomial part-2</h2></a></li>
		<li><a href="https://youtu.be/To2i2yd6Stg"><h2>Eucledian Geometry</h2></a></li>
		<li><a href="https://youtu.be/dIqkRT4prQ0"><h2>Construction of Angles</h2></a></li>
		<p><h1>Science</h1></p>
		<li><a href="https://youtu.be/ObIvFpZEN5k"><h2>Matters in our surroundings</h2></a></li>
		<li><a href="https://youtu.be/MwIJIrGLT6E"><h2>Distances</h2></a></li>
		<p><h1>Social Science</h1></p>
		<li><a href="https://youtu.be/kX5rrFTuTzA"><h2>Our state Karnataka</h2></a></li>
</ul>
	</em>


<p><h2><a id="10th"></a>10th std</h2></p>
	<em>
		<a href="https://www.kseebsolutions.com/kseeb-sslc-class-10-solutions"><h2>click here for textbook solutions</h2></a>
		<a href="http://www.ktbs.kar.nic.in/New/index.html#!/textbook"><h2>click here for all textbooks</h2></a>
	<h2>click here for video links</h2>
<ul>
		<p><h1>Maths</h1></p>
		
		<a href="https://youtu.be/NnDtySyxLus"><h2> chapter1</h2></a>
<li><a href="https://youtu.be/mAjR67YAno4"><h2>Arithmetic Progression-1</h2></a></li>
<li><a href="https://youtu.be/p70qeB8ZuXg"><h2>Arithmetic Progression</h2></a></li>
<li><a href="https://youtu.be/mIT8HeJ6das"><h2>Trignometry</h2></a></li>
<li><a href="https://youtu.be/XkPk_SngLoU"><h2>Trignometry</h2></a></li>
<p><h1>Science</h1></p>
<li><a href="https://youtu.be/7W6-cwojldA"><h2>Chemical Reactions</h2></a></li>
<li><a href="https://youtu.be/29kDxWeAXNw"><h2>Life Processes</h2></a></li>
<li><a href="https://youtu.be/9GG_oqLwNw4"><h2>Light</h2></a></li>
<li><a href="https://youtu.be/86VrWJL1K2Q"><h2>Important Questions</h2></a></li>
</ul>
</strong>





<p><h2>Any doubts?????Go to Forum page and leave your questions there.</h2></p>
<a href="forum.htm">
<button><GO TO FORUM</button>
</a>













</body>
</html>