.header {
  background-color: #4597D8;
  color: #fff;
  height: 100px;
  
}

.header-logo {
  float: left;
  font-size: 40px;
  padding: 20px 40px;
}

.header-list li {
	list-style: none;
	float: right;
	padding:33px 20px;
}

 img{
	width: 1250px;
	height: 750px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:50px;
	padding-left: 50px; 
	max-height: 100%;
	max-width: 100%;
}

.welcomeNotes h1{
	color: #d845cd;
	font-family: unset;
	text-align:center;
	font: 40px;
}
.helpNote p{
	font-size: 25px;
	color-rendering: optimizeQuality;
	padding: 20px;
	text-align: center;

}

.faqTitle h1{
	font-family:serif;
	text-align: center;
	text-decoration: underline;
}

.contact-form {
  padding-top: 100px;
}
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

/* Add CSS for <input> and <textarea> tags */
input, textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
  
}


/* Add CSS for contact-submit */
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}